<nav class="navbar navbar-light" style="background: #0e0d0d;    border-bottom: 2px solid gray;">
  <a class="navbar-brand" href="#" style="color:white">
    <img src="../assets/images/redhatLogo.png" style="height: 30px;">
  </a>
  
  <a class="navbar-brand" href="#" style="color:white">
    <h4 style="color: white; text-align: center;"> Simple CV - RHEL+Podman </h4>
  </a>
</nav>
<div class="container-fluid">
  <div class="col-md-12">
      <app-main-component></app-main-component>
  </div>
  
</div>